{% extends 'layout.html' %}

{% block body %}
<div class="d-flex justify-content-between mb-3">
  <h3>Fotos - {{ title }}</h3>
  <form action="" method="POST" enctype="multipart/form-data">
    <input id="input-img" style="display: none;" type="file" name="pic[]" multiple="" accept="image/*" onchange="sendimage(this.files)">
    <input id="send-img" style="display: none;" type="submit">
  </form>
  <button id="chosen-img" class="btn btn-primary ">Enviar Foto</button>
  <button style="display: none;" id="loading-button" class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Enviando...
  </button>
</div>
<table class="table table-striped">
  <tr>
    <th>Imagens</th>
  </tr>
</table>


<div class="row row-cols-1 row-cols-md-4">
  {% for image in images %}
  <div class="col mb-3 card-image">
    <div class="card h-100">
      <img src="{{image.url_thumb}}" role="button" data-toggle="modal" data-target="#imgModal{{image.image_id}}" class="card-img-top">

      <!-- Modal -->
      <div class="modal fade" id="imgModal{{image.image_id}}" tabindex="-1" aria-labelledby="imgModal{{image.image_id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imgModal{{image.image_id}}Label">Imagem</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{image.url}}" width="100%">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{url_for('images.delete_image', product_id=image.product_id,id=image.image_id)}}" method="POST">
                <input title="Deletar foto" type="submit" value="Deletar" class="btn btn-danger">
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="position-absolute d-flex justify-content-between align-items-center p-2">
        {%if image.main %}
        <p class="btn btn-success" title="Foto principal">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
          </svg>
        </p>
        {% else %}
          <form action="{{url_for('images.main_image', product_id=image.product_id, image_id=image.image_id)}}" method="POST">
            <input title="Escolher foto como principal" type="submit" value="Principal" class="btn btn-primary btn-sm main-button">
          </form>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}
  
</div>

<hr>

<script>
  button = document.querySelector('#chosen-img')
  input = document.querySelector('#input-img')
  send = document.querySelector('#send-img')
  loading = document.querySelector('#loading-button')

  button.addEventListener("click", () => {
    input.click()
  })

  function sendimage(event) {
    let send_allow = true
    for (let index = 0; index < event.length; index++) {
      const file = event[index];
      const isImage = file.type.indexOf('image')
      const file_size = parseInt((file.size / (1024*1024)))
      if(isImage == -1) {
        send_allow = false
        return window.alert('Algum arquivo não é uma imagem.')
        break
      } else if (file_size > 5 ){
        send_allow = false
        return window.alert('Alguma imagem é maior que 5mb, reduza o tamanho primeiro.')
        break
      } else if (event.length > 10 ){
        send_allow = false
        return window.alert('Apenas 10 fotos por envio.')
        break
      } 
    }
    if(send_allow) {
      send.click()
      button.style.display = 'none'
      loading.style.display = 'block'
    }
  }
</script>


<style>
  .card-image:hover .main-button {
    visibility: visible;
  }

  .main-button {
    visibility: hidden;
  }
</style>

{% endblock %}

