{% extends 'layout.html' %}

{% block body %}
  <h1 class="text-center">Registrar</h1>
  {% from 'includes/_formhelpers.html' import render_field %}
  <form method="POST" action="" class="d-flex align-items-center flex-column">
    <div class="form-group col-md-5">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group col-md-5">
      {{ render_field(form.email, class_="form-control") }}
    </div>
    <div class="form-group col-md-5">
      {{ render_field(form.phone, class_="form-control") }}
    </div>
    <div class="form-group col-md-5">
      {{ render_field(form.password, class_="form-control") }}
    </div>
    <div class="form-group col-md-5">
      {{ render_field(form.confirm, class_="form-control") }}
    </div>
    <div class="form-group col-md-5">
      {{ render_field(form.role, class_="role-choice") }}
      <p class="mt-3">
        {% with title='Criar conta', title_loading='Criando...', type='primary' %}
          {% include 'includes/_sendbutton.html' %}
        {% endwith %}
      </p>
    </div>
  </form>

  <style>
    .role-choice li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
    }
  </style>

  {% include 'includes/_phonescript.html' %}

{% endblock %}