{% extends 'layout.html' %}

{% block body %}
  <div class="d-flex justify-content-between mb-3">
    <h3>Imóveis</h3>
    <a href="/painel-admin/products/add_product" class="btn btn-primary ">Cadastrar Imóvel</a>
  </div>
  <table class="table table-striped">
    <tr>
      <th class="text-primary">ID</th>
      <th>Título</th>
      <th>Criado por</th>
      <th>Categoria</th>
      <th>Modalidade</th>
      <th style="width: 140px;"></th>
    </tr>
    {% for product in products %}
    <tr>
      <td>IM{{ product.id }}</td>
      <td class='{{"text-success" if product.is_active == 1 else "text-danger"}}'
        title='{{"Imóvel ativo" if product.is_active == 1 else "Imóvel desativado"}}'>{{ product.title }}</td>
      <td>{{ product.created_by }}</td>
      <td>{{ product.category }}</td>
      {% if product.modality == 'rent' %}
        <td>Aluguel</td>
      {% elif product.modality == 'sell' %}
        <td>Venda</td>
      {% else %}
        <td>Desconhecido</td>
      {% endif %}
      <td>
        <form action="{{url_for('products.delete_product', id=product.id)}}" method="POST">
          {% with size='btn-sm' %}
            {% include 'includes/_deletebutton.html' %}
          {% endwith %}
        </form>
        <a title="Editar imóvel" href="product/edit_product/{{product.id}}" class="btn btn-outline-secondary float-right btn-sm mr-2">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
        </a>
        <a title="Ver fotos" href="product/images/{{product.id}}" class="btn btn-outline-primary float-right btn-sm mr-2">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            <path fill-rule="evenodd" d="M4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z"/>
          </svg>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <hr>
{% endblock %}